.admin-content{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-wrap:break-word;
    background-color: white;
    justify-content: center;
    color: black;
    z-index: 1;
}
.draggable-wrapper{
   
        position: fixed;
        top: 0;
        left: 0;
     
        z-index: 9999;
      
}