.admin-content{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    justify-content: center;
    color: black;
    z-index: 1;
}
.draggable-wrapper{
   
        position: fixed;
        top: 0;
        left: 0;
     
        z-index: 9999;
      
}