/* Avoided fixed heights for a fluid design */
.header {
  position: fixed;
  justify-content: center;
  top: 2vh;  /* relative to the viewport height */
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(3, 68, 81, 0.785);
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 3vw;  /* relative to the viewport width */
  display: flex;
  z-index: 100;
}

a {
  text-decoration: none;
}

.header-link {
  padding: 1vh 3vw;  /* relative to viewport height & width */
  margin: 0 2vw;  /* relative to the viewport width */
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 3vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, black 50%, white 50%);
  background-size: 200% 100%;
  transition: background-position .8s;
}

.header-link:hover {
  background-position: 100% 0;
}

.header-link-icon {
  display: flex;
  cursor: pointer;
  align-items: end;
  justify-content: end;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding: 0 6vw;
  width: 20vw; 
  background-position: center;
  position: absolute;
  left: -2vh;
  height: 20vh;
  margin-left: -2%;
  background-image: url('https://i.imgur.com/dTD6ivm.png');
  background-size: contain; /* ensure the logo fits within the container */
  background-repeat: no-repeat; /* ensure the logo isn't repeated */
}

.icon-dimensions {
  flex-basis: auto;   /* give it a basis but allow it to grow or shrink */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-elements {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the links */
  width: 50%;  /* Adjust this value based on your layout requirements */
  margin-left: 3%;
}