.content, .sign-in-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
}

.content {
    background-image: url('../../images/SnowMountains.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.sign-in-content {
    background-image: url('../../images/Lava.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1025px) and (orientation: landscape) {
    .content, .sign-in-content {
        align-items: flex-end;
    }
}


.sign-up-sign-in-box{
    background-color: rgba(3, 68, 81, 0.785);
    border: 1px solid black;
    color: whitesmoke;
    width:auto;
    height:auto;
}
.input-container{
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 1%;
}
.input-field{
    color:black;
    font-weight: 600;
    font-size:medium;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins';
}
.invalid-input{
    color: red;
   text-align: center;
}
.sign-up-sign-in-box, .logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-button{
    margin-top: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    height: 35px;
    width: 170px;
    font-family: 'Poppins';
    font-size: large;
    font-weight: 500;
}
.submit-button:active {
    transform: scale(0.9); /* reduce size to 90% */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9); /* reduce box-shadow */
}
  .submit-button:hover {
     /*The text-shadow property takes four parameters: horizontal offset, vertical offset, blur radius, and color. change the alpha for a darker shadow */
    box-shadow: 0 1px 10px rgb(245, 245, 245, .7),
    0 1px 20px rgb(245, 245, 245, .5);
    scale:1.1;
  }
  a {
    text-decoration: none;
    color: purple;
    font-size: large;
    font-weight: 500;
  }
  .error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}