.product {
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    width: 200px; 
    height: 46%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255, 0.6);
  }
  
  .product img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
  }
  .product h2 {
    margin-top: 0px;
    font-size: 18px;
  }
  
  .product p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .product p:last-child {
    margin-top: 20px;
    font-weight: bold;
  }

  .product:hover{
    transform:scale(1.07);
    transition: transform 0.1s ease-in;
    box-shadow: 0 0 12px rgb(0, 0, 0, .8);
  }

  .favorite-icon{
    display: flex;
    transform:scale(1.5);
  }
  .favorite-icon:hover{
transform: scale(1.75);
  }